# constraints.txt
requests==2.32.0  # Ensures compatibility with dnacentersdk
fastapi==0.95.2
uvicorn[standard]==0.22.0
openai==0.27.0
azure-search-documents==11.6.0b9
azure-identity==1.13.0
python-dotenv==1.0.0
pydantic==2.7.4
dnacentersdk==2.8.3
meraki
tenacity==8.5.0
chromadb==0.6.3
elasticsearch==8.8.0
nltk==3.8.1
langchain==0.3.0
requests==2.31.0

